{% extends "base.html" %}

{% block content %}

<div class="card shadow p-4">

<h3>Algorithm Performance Metrics</h3>

<table class="table table-bordered">

<tr>
<th>Algorithm</th>
<th>Accuracy</th>
<th>Precision</th>
<th>Recall</th>
<th>F1 Score</th>
</tr>

{% for k,v in results.items() %}

<tr>
<td>{{k}}</td>
<td>{{"%.2f"|format(v.accuracy*100)}}%</td>
<td>{{"%.2f"|format(v.precision*100)}}%</td>
<td>{{"%.2f"|format(v.recall*100)}}%</td>
<td>{{"%.2f"|format(v.f1*100)}}%</td>
</tr>

{% endfor %}

</table>

</div>

{% endblock %}